body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal; 
    font-variation-settings: "opsz" 1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3f0d12;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background-color: #A71d31;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.navbar li {
    text-align: center;
}

.navbar a {
    color: #F1F0CC;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: #3F0D12;
}

footer {
    text-align: center;
    background-color: #A71d31;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0;
    width: 100%;
}


/*Home CSS*/

.home-header{
    display: flex;
    background-color: #8D775F;
    padding: 20px;
    padding-bottom: 20px;
    justify-content: center;
    color: #F1F0CC;    
}

@media (min-width: 1500px) {
  .home-title {
    padding-top: 20px;
  }
}

@media (max-width: 400px) {
  .home-title {
    padding-top: 10px;
  }
}

@media (max-width: 400px) and (orientation: landscape) {
  .home-title {
    padding-top: 15px;
  }
}

@media (min-width: 1500px) and (orientation: landscape) {
  .home-title {
    padding-top: 30px;
  }
}

@media (min-width: 1500px) and (orientation: portrait) {
  .home-title {
    padding-top: 20px;
  }
}

.home-header2{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 200px;
    background-color: #3F0D12;
    color: #F1F0CC;
    padding: 20px;
}   

.home-image1{
    width: 100%;
    height: auto;
}


/* CSS for About & Contact Page */

.intro {
    background-color: #F1F0CC;
    padding: 20px;
    color: #3F0D12;
}

.about_header {
    background-color: #3F0D12;
    color: #F1F0CC;
    text-align: center;
    padding: 5px;
}

#mission_flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#mission_p {
    border: #8D775F dashed 2px;
    border-radius: 10px;
}

.core_values_header {
    background-color: #3F0D12;
    color: #F1F0CC;
    text-align: center;
    padding: 5px;
}

.core_values img{
    width: 100%;
}

.core_values {
    border: #8D775F dashed 2px;
    border-radius: 10px;
}

#corevalues_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    flex-grow: 10;
    background-color:#3F0D12;
}

#excellence {
    flex-grow: 2;
    order: 0;
    background-color: #F1F0CC; 
}

#sustainability {
    flex-grow: 2;
    order: 0;
    background-color: #F1F0CC; 
}

#innovation {
    flex-grow: 2;
    order: 0;
    background-color: #F1F0CC; 
}

#community{
    flex-grow: 2;
    order: 0;
    background-color: #F1F0CC; 
}

#diversity_inclusion {
    flex-grow: 2;
    order: 0;
    background-color: #F1F0CC; 
}
.core_values {
    max-width: 30vw;
    min-width: 300px;
}

.wwo_header {
    background-color: #3F0D12;
    color: #F1F0CC;
    text-align: center;
    padding: 5px;
}

#what_we_offer_flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 30px;
    flex-grow: 10;
}

.wwo {
    border: #8D775F dashed 2px;
    border-radius: 10px;
}

.wwo img {
    width: 100%
}

.contact_section_header {
    background-color: #3F0D12;
    color: #F1F0CC;
    text-align: center;
    width: 100%;
    position: absolute;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #F1F0CC;
  }
  
  .contact_header h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .contact_section {
    width: 80%;
    max-width: 600px;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  
  .contact_section ul,
  .contact_section p {
    margin: 0.1rem 0;
    color: #666;
  }
  
  .contact_section a {
    color: #007acc;
    text-decoration: none;
  }
  
  .contact_section a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 768px) {
    .contact {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  
    .contact_section {
      width: calc(50% - 1rem);
    }
  }
  


/*CSS for Schedule Page */

.EventOdd{
    display: flex;
    height: 400px;
    background-color:#ffffff;
    padding: 40px;
    justify-content: flex-end;
}

.EventOdd > div{
    background-color: #ffffff;
    align-content: space-between;
    width: 700px;
    height: 300px;
    padding: 15px;
    margin: 50px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    border-radius: 7px;
}

.button1 {
    background-color: #A71D31;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .button1 {
    background-color:#D5BF86; 
    color: black; 
    border: 2px solid #D5BF86;
  }
  
  .button1:hover {
    background-color:#A71D31;
    color: white;
  }

.EventEven{
    display: flex;
    height: 400px;
    background-color:#D5BF86;
    padding: 40px;
    justify-content: flex-end;
}

.EventEven > div{
    background-color:#D5BF86;
    align-content: space-between;
    width: 700px;
    height: 300px;
    padding: 15px;
    margin: 50px;
    text-align: left;
    line-height: 35px;
    font-size: 20px;
    border-radius: 7px;
}

.button2 {
    background-color:#D5BF86;
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

  .button2 {
    background-color: #F1F0CC; 
    color: black; 
    border: 2px solid #D5BF86;
  }
  
  .button2:hover {
    background-color:#A71D31;
    color: white;
  }

/* FAQ CSS */

.lobby-image {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.catherine-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.contact-section {
    background-color: #8D775F;
    color: white;
    padding: 10px; /* Optional: Add padding for better spacing */
}
.questions-section {
    background-color: #F1f0cc;
    padding: 10px;
}
.home-title{
    display: flex;
    justify-content: center;
    color: #3F0D12;
}


.ticketing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two equal columns */
    gap: 20px; /* Space between grid items */
}

.ticketing-section {
    background-color: #f9f9f9; /* Light background for sections */
    padding: 15px;
    border: 1px solid #ddd; /* Border around sections */
    border-radius: 5px; /* Rounded corners */
}

@media (max-width: 600px) {
    .ticketing-grid {
        grid-template-columns: 1fr; /* Stack sections on small screens */
    }
}