body {
    font-family: Georgia, 'Times New Roman', Times, serif
    font-style: normal; 
    font-variation-settings: "opsz" 1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3f0d12;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background-color: #A71d31;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.navbar li {
    text-align: center;
}

.navbar a {
    color: #F1F0CC;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover {
    background-color: #3F0D12;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #A71d31;
    position: relative;
    bottom: 0;
    width: 100%;
}

.home-header{
    display: flex;
    background-color: #8D775F;
    padding: 20px;
    justify-content: center;
    color: white;    
}

.home-header2{
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 200px;
    background-color: #3F0D12;
    color: white;
    padding: 20px;
}   

.home-image1{
    width: 100%;
    height: auto;
}

.home-title{
    display: flex;
    justify-content: center;
}

/* CSS for About & Contact Page */

.intro {
    background-color: #F1F0CC;
    padding: 20px;
    color: #3F0D12;
}

.header {
    background-color: #3F0D12;
    color: #F1F0CC;
    text-align: center;
    padding: 5px;
}